.aboutMe {
    padding-top: 100px;
    background-color: #FFFAF6;
    display: flex;
    justify-content: center;
}

.inner {
    max-width: 1437px;
}

.verticalSplit {
    display: flex;
}

.picture1 {
    padding-right: 90px;
}

.picture2 {
    padding-bottom: 24px;
}

.text1 {
    font-family: "IBM Plex Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.text2 {
    font-family: "IBM Plex Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.text3 {
    font-family: DynaPuff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.text4 {
    font-family: DynaPuff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.text5 {
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.text6 {
    font-family: "IBM Plex Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.skillsTable {
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
}

.experience {
    max-width: 660px;
    padding-right: 82px;
}

.link {
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;
}

.facts {
    display: flex;
    gap: 2.3%;
    flex-wrap: wrap;
}
.fact {
    max-width: 330px;
}