.mainPage {
    background-color: #81B769;
    padding-top: 195px;
    padding-bottom: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.inner {
    max-width: 1674px;
}

.text1 {
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 12px;
    position: relative;
}

.text2 {
    font-family: DynaPuff;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
    position: relative;
}

.text3 {
    font-family: "IBM Plex Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 44px;
    position: relative;
}

.cloud {
    position: absolute;
    left: 3%;
    top: 236px;
}

.flowers {
    position: absolute;
    left: 80.7%;
    top: 373px;
}

.hearts {
    position: absolute;
    left: 24.4%;
    top: 460px;
}

.product {
    position: absolute;
    left: 75.2%;
    top: 290px;
}

.star {
    position: absolute;
    left: 73.2%;
    top: 563px;
}

.buttons {
    gap: 24px;
    display: inline-flex;
}