
.inner {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 162px;
}

.flower {
    position: absolute;
    right: calc(50% - 8px);
}

.text1 {
    font-family: DynaPuff;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    position: relative;
}

.text2 {
    font-family: "IBM Plex Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.link {
    font-family: DynaPuff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}