.header {
    background-color: #81B769;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.appbar {
    display: flex;
    padding-top: 32px;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    max-width: 1486px;
    width: 100%;
}

.rightSide {
    display: flex;
    gap: 42px;
    align-items: center;
}

.text {
    font-family: "IBM Plex Mono";
    font-size: 20px;
}

.clickableText {
    font-family: "IBM Plex Mono";
    font-size: 20px;
    cursor: pointer;
}