.header {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #81B769;
    padding-top: 32px;
}

.rightSide {
    display: flex;
    gap: 42px;
    align-items: center;
}

.text {
    font-family: "IBM Plex Mono";
    font-size: 20px;
}