.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.appbar {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    max-width: 1420px;
    width: 100%;
}

.rightSide {
    display: flex;
    gap: 42px;
    align-items: center;
}

.text {
    font-family: "IBM Plex Mono";
    font-size: 20px;
}

.clickableText {
    font-family: "IBM Plex Mono";
    font-size: 20px;
    cursor: pointer;
}

.clickableText:hover {
    font-weight: 500;
}